<div class="page">

  <h2>About Us</h2>
  <p class="big grey">The team that makes this great project happen.</p>
  <hr>

  
  <!-- About Us -->
   <div class="aboutus">
         <div class="row">
            <div class="span12">
               <!-- Staff #1 -->
               <div class="row">
                  <div class="span6">
                     <div class="col-l">
                       <!-- Staff pic -->
                       <div class="pic">
                          <img src="https://lh3.googleusercontent.com/-49e8Ssbs-lM/AAAAAAAAAAI/AAAAAAAAAQ8/TrJUqPMbHV8/s24-c-k/photo.jpg" alt="">
                       </div>
                     </div>

                     <div class="col-r">
                       <div class="sinfo">
                          <!-- Name -->
                          <h4>Hezron Obuchele</h4>
                          <!-- Designation -->
                          <h6 class="grey">Web project manager.</h6>
                          <!-- Social media links. Replace # with profile links -->
                          <div class="social">
                             <a href="#" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                             <a href="#" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                             <a href="#" class="tip" data-original-title="Google Plus"><i class="icon-google-plus google-plus"></i></a>
                             <a href="#" class="tip" data-original-title="LinkedIn"><i class="icon-linkedin linkedin"></i></a>
                          </div>
                       </div>
                     </div>

                     <div class="clearfix"></div>
                  </div>
                  <div class="span6">
                     <!-- Small para -->
                     <p class="ainfo">Php guru in the making, has many years experience in making php projcts</p>
                     <div class="button"><a href="#">Contact Me</a></div>
                  </div>
               </div>
               <hr>
               <!-- Staff #2 -->
               <div class="row">
                  <div class="span6">
                     <div class="col-l">
                       <!-- Staff pic -->
                       <div class="pic">
                          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/370160_1150993762_1042524488_q.jpg" alt="">
                       </div>
                     </div>

                     <div class="col-r">
                       <div class="sinfo">
                          <!-- Name -->
                          <h4>Joseph Bosire</h4>
                          <!-- Designation -->
                          <h6 class="grey">Python Djangsta.</h6>
                          <!-- Social media links. Replace # with profile links -->
                          <div class="social">
                             <a href="#" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                             <a href="#" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                             <a href="#" class="tip" data-original-title="Google Plus"><i class="icon-google-plus google-plus"></i></a>
                             <a href="#" class="tip" data-original-title="LinkedIn"><i class="icon-linkedin linkedin"></i></a>
                          </div>
                       </div>
                     </div>

                     <div class="clearfix"></div>
                  </div>
                  <div class="span6">
                     <!-- Small para -->
                     <p class="ainfo">Shooting all php guys dead like mortein doom.</p>
                     <div class="button"><a href="#">Contact Me</a></div>
                  </div>
               </div>
               <div class="row">
                  <div class="span6">
                     <div class="col-l">
                       <!-- Staff pic -->
                       <div class="pic">
                          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash1/372178_1106588664_787928868_q.jpg" alt="">
                       </div>
                     </div>

                     <div class="col-r">
                       <div class="sinfo">
                          <!-- Name -->
                          <h4>Brian Mwadime</h4>
                          <!-- Designation -->
                          <h6 class="grey">Php guy.</h6>
                          <!-- Social media links. Replace # with profile links -->
                          <div class="social">
                             <a href="#" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                             <a href="#" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                             <a href="#" class="tip" data-original-title="Google Plus"><i class="icon-google-plus google-plus"></i></a>
                             <a href="#" class="tip" data-original-title="LinkedIn"><i class="icon-linkedin linkedin"></i></a>
                          </div>
                       </div>
                     </div>

                     <div class="clearfix"></div>
                  </div>
                  <div class="span6">
                     <!-- Small para -->
                     <p class="ainfo">Does some random things with php</p>
                     <div class="button"><a href="#">Contact Me</a></div>
                  </div>
               </div>
               <div class="row">
                  <div class="span6">
                     <div class="col-l">
                       <!-- Staff pic -->
                       <div class="pic">
                          <img src="https://lh5.googleusercontent.com/-Zgzn-n8V7LU/AAAAAAAAAAI/AAAAAAAALlc/dzDgQo79kxs/s20-c-k/photo.jpg" alt="">
                       </div>
                     </div>

                     <div class="col-r">
                       <div class="sinfo">
                          <!-- Name -->
                          <h4>Victor Koech</h4>
                          <!-- Designation -->
                          <h6 class="grey">Dont know .</h6>
                          <!-- Social media links. Replace # with profile links -->
                          <div class="social">
                             <a href="#" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                             <a href="#" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                             <a href="#" class="tip" data-original-title="Google Plus"><i class="icon-google-plus google-plus"></i></a>
                             <a href="#" class="tip" data-original-title="LinkedIn"><i class="icon-linkedin linkedin"></i></a>
                          </div>
                       </div>
                     </div>

                     <div class="clearfix"></div>
                  </div>
                  <div class="span6">
                     <!-- Small para -->
                     <p class="ainfo">We never really know what he is saying but he is cool</p>
                     <div class="button"><a href="#">Contact Me</a></div>
                  </div>
               </div>
                <div class="row">
                  <div class="span6">
                     <div class="col-l">
                       <!-- Staff pic -->
                       <div class="pic">
                          <img src="https://lh3.googleusercontent.com/-CgCGtv_5Wmc/AAAAAAAAAAI/AAAAAAAAAKk/oga2T6s3xIM/s24-c-k/photo.jpg" alt="">
                       </div>
                     </div>

                     <div class="col-r">
                       <div class="sinfo">
                          <!-- Name -->
                          <h4>Ian Madege</h4>
                          <!-- Designation -->
                          <h6 class="grey">Slave Driver .</h6>
                          <!-- Social media links. Replace # with profile links -->
                          <div class="social">
                             <a href="#" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                             <a href="#" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                             <a href="#" class="tip" data-original-title="Google Plus"><i class="icon-google-plus google-plus"></i></a>
                             <a href="#" class="tip" data-original-title="LinkedIn"><i class="icon-linkedin linkedin"></i></a>
                          </div>
                       </div>
                     </div>

                     <div class="clearfix"></div>
                  </div>
                  <div class="span6">
                     <!-- Small para -->
                     <p class="ainfo">Our certified slave driver</p>
                     <div class="button"><a href="#">Contact Me</a></div>
                  </div>
               </div>
            </div>
         </div>
   </div> 

  <div class="border"></div>





  </div>