<div class="row-fluid contact-info">
	<h2>Contact us</h2x>
	<p>
		Have you seen our support site? You'll find lots of frequently asked questions,<br/> useful tips and a community of helpful gurus.
	</p>
	<hr>
	<address>
		<strong>Email</strong>: info@epro.com<br/>
		<strong>Telephone</strong>: +151 1122334455<br/>
		<strong>Address</strong>: 112 New York, US<br/>
	</address>
</div>