<div class="features-four">
  <div class="row-fluid">

    <div class="span4">
      <div class="f-block b-red">
        <a href="#"><i class="icon-group"></i></a>
        <a href="#"><h4>People</h4></a>
        <p>Manage different individuals who interact with the system i.e personnel,clients and suppliers</p>
      </div>
    </div>

    <div class="span4">
      <div class="f-block b-purple">
        <a href="#"><i class="icon-cloud"></i></a>
        <a href="#"><h4>Inventory Management</h4></a>
        <p>Easy management of company inventory stock to lower inventory costs</p>
      </div>
    </div>

    <div class="span4">
      <div class="f-block b-lblue">
        <a href="#"><i class="icon-tasks"></i></a>
        <a href="#"><h4>Jobs & Equipments</h4></a>
        <p>Manage your company workflow through easy task management and scheduling of resources including equipment</p>
      </div>
    </div> 
 </div>       
 <div class="row-fluid">
    <div class="span4">
      <div class="f-block b-green">
        <a href="#"><i class="icon-rss"></i></a>
        <a href="#"><h4>Communication</h4></a>
        <p>Real time chat support and notification of actions</p>
      </div>
    </div>

    <div class="span4">
      <div class="f-block b-orange">
        <a href="#"><i class="icon-briefcase"></i></a>
        <a href="#"><h4>Reporting</h4></a>
        <p>Quick access to operations and strategic reports to help in better decision making</p>
      </div>
    </div>

    <div class="span4">
      <div class="f-block b-blue">
        <a href="#"><i class="icon-thumbs-up"></i></a>
        <a href="#"><h4>Support</h4></a>
        <p>24/7 technical support for all your queries</p>
      </div>
    </div> 

 </div> 
  </div>
