<div class="button-bar">
		<span class="buttons">
			<a class="btn btn-mini btn-primary ajax-modal" data-width="780" href="#add-jobs" data-href="{{controller_base_url}}jobs"><i class="icon-plus"></i> New Job</a>
		</span>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="space"></div>
		<div id='calendar'></div>
	</div>
	
	<!--<div class="span3">
		<div class="widget-box transparent">
			<div class="widget-header">
				<h4>Common jobs</h4>
			</div>
			<div class="widget-main">
				<div id='external-events'>
					<div class='external-event label-grey' data-class="label-grey"><i class="icon-move"></i> Unilever </div>
					<div class='external-event label-important' data-class="label-important"><i class="icon-move"></i> Airtel</div>
					<div class='external-event label-success' data-class="label-success"><i class="icon-move"></i> Safaricom</div>
					<div class='external-event label-purple' data-class="label-purple"><i class="icon-move"></i> Sameer Africa</div>
					<div class='external-event label-yellow' data-class="label-yellow"><i class="icon-move"></i> East African Breweries</div>
					<div class='external-event label-pink' data-class="label-pink"><i class="icon-move"></i> Toyota EA</div>
					<div class='external-event label-info' data-class="label-info"><i class="icon-move"></i> British American</div>
					<!--<label>
						<input type='checkbox' class="ace-checkbox" id='drop-remove' /> <span class="lbl"> Remove after drop</span>
					</label>
				</div>
			</div>
		</div>
	</div>-->
</div>