<div class="span12">
	<table class="table table-striped table-bordered table-hover table-condensed" id="table_bug_report">
		<thead>
			<tr>
				<th class="center">
					<label>
						<input type="checkbox">
						<span class="lbl"></span>
					</label>
				</th>
				<th>Supplier Name</th>
				<th class="hidden-480">Item</th>
				<th>Available units</th>
				<th class="hidden-phone">Purchase date</th>
				<th class="hidden-480">Status</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 1</a></td>
				<td class="hidden-480">Ancient Wells - Living Water (Book)</td>
				<td>4,830 units</td>
				<td class="hidden-phone">01-May-13</td>
				<td class="hidden-480"><span class="label label-warning">Low</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 2</a></td>
				<td class="hidden-480">Culturally Incorrect (Book)</td>
				<td>4,824 units</td>
				<td class="hidden-phone">01-May-13</td>
				<td class="hidden-480"><span class="label label-success">Available</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 3</a></td>
				<td class="hidden-480">Free at Last (Book)</td>
				<td>3,742 units</td>
				<td class="hidden-phone">01-May-13</td>
				<td class="hidden-480"><span class="label label-warning">Low</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 4</a></td>
				<td class="hidden-480">God's Got You Covered (book)</td>
				<td>5,286 units</td>
				<td class="hidden-phone">01-May-13</td>
				<td class="hidden-480"><span class="label label-important">Depleted</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 5</a></td>
				<td class="hidden-480">40 Days to Your Promised Harvest (Minibook)</td>
				<td>13,200 units</td>
				<td class="hidden-phone">02-May-13</td>
				<td class="hidden-480"><span class="label label-success">Available</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>
			
			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 6</a></td>
				<td class="hidden-480">Angels & Demons Resource Kit (6 DVDs, book, bookmark, clip)</td>
				<td>276 units</td>
				<td class="hidden-phone">03-May-13</td>
				<td class="hidden-480"><span class="label label-warning">Low</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 7</a></td>
				<td class="hidden-480">Angels & Demons (Minibook)</td>
				<td>2,832 units</td>
				<td class="hidden-phone">03-May-13</td>
				<td class="hidden-480"><span class="label label-success">Available</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 8</a></td>
				<td class="hidden-480">Angels & Demons Outer Box</td>
				<td>5,190 units</td>
				<td class="hidden-phone">03-May-13</td>
				<td class="hidden-480"><span class="label label-warning">Low</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 9</a></td>
				<td class="hidden-480">At The Cross: Where Healing Begins (Book)</td>
				<td>2,447 units</td>
				<td class="hidden-phone">03-May-13</td>
				<td class="hidden-480"><span class="label label-important">Depleted</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="center"><label>
					<input type="checkbox">
					<span class="lbl"></span></label></td>
				<td><a href="#">Supplier 10</a></td>
				<td class="hidden-480">Blessed Assurance (Book)</td>
				<td>2,160 units</td>
				<td class="hidden-phone">03-May-13</td>
				<td class="hidden-480"><span class="label label-success">Available</span></td>
				<td>
					<div class="hidden-phone visible-desktop btn-group">
						<button class="btn btn-mini btn-success" title="Assign Personnel"><i class="icon-ok"></i></button>
						<button class="btn btn-mini btn-info" title="Edit"><i class="icon-edit"></i></button>
						<button class="btn btn-mini btn-danger" title="Delete"><i class="icon-trash"></i></button>
					</div>
				</td>
			</tr>

		</tbody>
	</table>
</div>