<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Repeat Job on</h3>
</div>
<div class="modal-body" id ="repeat_order_frm">
    <form class="form-horizontal">
		            	
       <div class="control-group">
			<!--<label class="control-label">Checkbox</label>-->
			<div class="controls">
				<label>
					<input type="checkbox" id='d1'><span class="lbl">&nbsp; Monday</span>
				</label>
				<label>
					<input type="checkbox" id='d2'><span class="lbl">&nbsp; Tuesday</span>
				</label>
				<label>
					<input type="checkbox" id='d3'><span class="lbl">&nbsp; Wednseday</span>
				</label>
				<label>
					<input type="checkbox" id='d4'><span class="lbl">&nbsp; Thursday</span>
				</label>
				<label>
					<input type="checkbox" id='d5'><span class="lbl">&nbsp; Friday</span>
				</label>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" data-dismiss="modal" class="btn btn-small">Back</button>
	<!-- <button type="button" href="#" class="btn btn-primary save_order btn-small submit-form">Save changes</button> -->
	<button type="button" href="#" data-dismiss="modal" class="btn btn-primary save_order btn-small submit-repeat">Save changes</button>
	<!-- <a class="btn btn-primary btn-small" href='{{controller_base_url}}view'>Save and Assign Tasks</a> -->
</div>