<div class="span12" style='margin-left:-2px;'>
	<div class="button-bar">
		<span class="buttons">
			<a class="btn btn-mini btn-primary ajax-modal child-modal" data-width="780" href="#add-jobs" data-href="{{controller_base_url}}profile"><i class="icon-plus"> </i> New Job Profile</a>
		</span>
	</div>
	<table id='jobs-profile-list' class='table table-condensed table-bordered'>
		<thead>
			<tr>
				<!--<th class="center">#</th>-->
				<th>Name</th>
				<th>Job Manager</th>
				<th>Output Quantity</th>
				<th>Tack Time</th>
			</tr>
		</thead>
		<tbody>
			<tr data-id="#">
				<td>Iphone</td>
				<td>Omondi</td>
				<td>2</td>
				<td>2 hours</td>
			</tr>
			<tr data-id="#">
				<td>Iphone 2</td>
				<td>Omondi</td>
				<td>2</td>
				<td>2 hours</td>
			</tr>
			<tr data-id="#">
				<td>Iphone 3</td>
				<td>Omondi</td>
				<td>2</td>
				<td>2 hours</td>
			</tr>
			<tr data-id="#">
				<td>Iphone 4</td>
				<td>Omondi</td>
				<td>2</td>
				<td>2 hours</td>
			</tr>
			<tr data-id="#">
				<td>Iphone 5</td>
				<td>Omondi</td>
				<td>20</td>
				<td>10 hours</td>
			</tr>
		</tbody>
	</table>
</div>