<div class="row-fluid">
	<!-- PAGE CONTENT BEGINS HERE -->
	<div class="row-fluid">
		<h1> Our Prices and Packages</h1>
		<p>
			Pick a plan that matches your usage
		</p>
	</div>

	<div class="row-fluid">
		<div class="span3">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h5 class="bigger lighter">Features</h5>
				</div>
				<div class="widget-body">
					<div class="widget-main no-padding">
						<ul class="unstyled list-striped pricing-table-header">
							<li>
								People(Personnel,Client & Supplier)
							</li>
							<li>
								Access Control (Permissions & Roles)
							</li>
							<li>
								Equipments
							</li>
							<li>
								Delivery
							</li>
							<li>
								Inventory
							</li>
							<li>
								Job & Tasks
							</li>
							<li>
								Basic Reports
							</li>
							<li>
								Advanced Reports
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		
		<div class="span3 pricing-span">
			<div class="widget-box pricing-box-small">
				<div class="widget-header header-color-orange">
					<h5 class="bigger lighter">Starter</h5>
				</div>
				<div class="widget-body">
					<div class="widget-main no-padding">
						<ul class="unstyled list-striped pricing-table">
							<li>
							 	<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-remove red"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-remove red"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-remove red"></i>
							</li>
						</ul>

						<div class="price">
							<div class="label label-large label-inverse arrowed-in arrowed-in-right">
								$10<small>/month</small>
							</div>
						</div>
					</div>
					<div>
						<a href="pricing.html#" class="btn btn-block btn-small btn-warning"><span>Sign Up</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="span3 pricing-span">
			<div class="widget-box pricing-box-small">
				<div class="widget-header header-color-blue">
					<h5 class="bigger lighter">Business</h5>
				</div>
				<div class="widget-body">
					<div class="widget-main no-padding">
						<ul class="unstyled  list-striped pricing-table">
							<li>
							 	<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-remove red"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-remove red"></i>
							</li>
						</ul>

						<div class="price">
							<div class="label label-large label-inverse arrowed-in arrowed-in-right">
								$15<small>/month</small>
							</div>
						</div>
					</div>
					<div>
						<a href="pricing.html#" class="btn btn-block btn-small btn-primary"><span>Sign Up</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="span3 pricing-span">
			<div class="widget-box pricing-box-small">
				<div class="widget-header header-color-green">
					<h5 class="bigger lighter">Ultimate</h5>
				</div>
				<div class="widget-body">
					<div class="widget-main no-padding">
						<ul class="unstyled list-striped  pricing-table">
							<li>
							 	<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
							<li>
								<i class="icon-ok green"></i>
							</li>
						</ul>

						<div class="price">
							<div class="label label-large label-inverse arrowed-in arrowed-in-right">
								$25<small>/month</small>
							</div>
						</div>
					</div>
					<div>
						<a href="pricing.html#" class="btn btn-block btn-small btn-success"><span>Sign Up</span></a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</div>

