{{{pagination_data}}}
{{#if pagination}}
<div class="row-fluid">
	<div class="span6">
		<div class="dataTables_info" id="table_report_info">Showing 1 to 10 of 52 entries</div>
	</div>
	<div class="span6">
		<div class="dataTables_paginate paging_bootstrap pagination">
			<ul>
				<li class="disabled">
					<a href="#"><i class="icon-double-angle-left"></i></a>
				</li>
				<li class="active">
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#"><i class="icon-double-angle-right"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>
{{/if}}
