<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
		<button class="btn btn-small btn-warning" title="New Client">
			<i class="icon-group"></i>
		</button>
		<!-- New Client -->
		<button class="btn btn-small btn-danger" title="New Job">
			<i class="icon-tasks"></i>
		</button>
		<!-- New external job -->
		<button class="btn btn-small btn-info" title="New Task">
			<i class="icon-edit"></i>
		</button>
		<!-- New Task -->
		<button class="btn btn-small btn-success" title="Allocate Inventory">
			<i class="icon-shopping-cart"></i>
		</button>
		<!-- Assign Inventory -->
	</div>
	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span>
		<span class="btn btn-info"></span>
		<span class="btn btn-warning"></span>
		<span class="btn btn-danger"></span>
	</div>
</div><!-- #sidebar-shortcuts -->

{{#menu menuname currentmenuitem}}<!--/.nav-list-->

<div class="sidebar-collapse" id="sidebar-collapse">
	<i class="icon-double-angle-left"></i>
</div>